<!DOCTYPE html>
<html>

<head>
  <title>About</title>
  <link rel="icon" href="/img/weather.png">
  <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
  <div class="main-content">
    {{>header}}
    <p>This site was created by <span>Karim Elraay</span>. It uses data from
      <a href="https://locationiq.com/" target="_blank">
        locationiq
      </a>
      and
      <a href="https://weatherstack.com/" target="_blank">
        weatherstack
      </a>
      !
    </p>
    <img class="portrait" src="img/IMG_1662.jpg" />
  </div>

  {{>footer}}
</body>

</html>