<header>
    <nav>
        <div class="logo">
            <a href="/">
                <img src="/img/weather.png" alt="weather logo" width="200px">
            </a>
        </div>
        <ul>
            <li>
                <a href="/" class="nav-link" id="home-link">Home</a>
            </li>
            <li>
                <a href="/about" class="nav-link" id="about-link">About</a>
            </li>
            <li>
                <a href="/help" class="nav-link" id="help-link">Help</a>
            </li>
        </ul>
    </nav>
    <h1>{{title}}</h1>
</header>